/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set font and background color */
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Navigation styles */
  nav {
    background-color: #555;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }

    h1 {
    text-align: center;
    color: white;

  }
  
  /* Section styles */
  section {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    padding-left: 35%;
  }
  
  section p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    padding-left: 35%;
  }
  
  section ul {
    list-style-type: square;
    margin-top: 20px;
    padding-left: 35%;
  }
  
  section ul li {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 10px;
    font-weight: bold;
  }

  #welcome{
    background-color: #071e22 ;
  }

  #personal {
    background-color: #1d7874 ;
  }

  #education{
    background-color: #679289;
  }
  
  #experience{
    background-color: #f4c095;
  }

  #skills{
    background-color:  #ee2e31;
  }

  span {
    font-weight: bold;
  }

  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
  }
  
  img {
    float: left;
    height: 500px;
    width: 400px;
    border-radius: 200px;
    position: relative;
    left: 4%;
    top: 50%;
  }